@model PersonEmployeeWorkingViewModel

<tr class="pew-item" data-index="@Model.Index">
    <td>@Model.Position</td>
    <td>@Model.Department</td>
    <td class="text-center"><input type="checkbox" @(Model.IsMainPosition ? "checked" : "") readonly /></td>
    <td class="text-center"><input type="checkbox" @(Model.IsWorking ? "checked" : "") readonly /></td>
    <td class="text-center">@Model.PositionBeginDate?.ToString("dd/MM/yyyy")</td>
    <td class="text-center">@Model.PositionEndDate?.ToString("dd/MM/yyyy")</td>
    <td class="text-center">
        <a data-index="@Model.Index" data-id="@Model.Id" data-personid="@Model.PersonId" data-departmentid="@Model.DepartmentId" data-departmentpositionid="@Model.DepartmentPositionId" data-ismainposition="@Model.IsMainPosition.ToString()" data-isworking="@Model.IsWorking.ToString()" data-positionbegindate="@Model.PositionBeginDate?.ToString("dd/MM/yyyy")" data-positionenddate="@Model.PositionEndDate?.ToString("dd/MM/yyyy")" data-trialworkbegindate="@Model.TrialWorkBeginDate?.ToString("dd/MM/yyyy")" data-workbegindate="@Model.WorkBeginDate?.ToString("dd/MM/yyyy")" class="m-portlet__nav-link btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill btnEditPEW">
            <i class="la la-edit"></i>
        </a>
        <a data-index="@Model.Index" class="m-portlet__nav-link btn m-btn m-btn--hover-danger m-btn--icon m-btn--icon-only m-btn--pill btnDeletePEW">
            <i class="la la-trash"></i>
        </a>
        <input type="hidden" name="PersonEmployeeWorkings[@Model.Index].DepartmentId" value="@Model.DepartmentId" />
        <input type="hidden" name="PersonEmployeeWorkings[@Model.Index].DepartmentPositionId" value="@Model.DepartmentPositionId" />
        <input type="hidden" name="PersonEmployeeWorkings[@Model.Index].IsMainPosition" value="@Model.IsMainPosition.ToString()" />
        <input type="hidden" name="PersonEmployeeWorkings[@Model.Index].IsWorking" value="@Model.IsWorking.ToString()" />
        <input type="hidden" name="PersonEmployeeWorkings[@Model.Index].PositionBeginDate" value="@Model.PositionBeginDate">
        <input type="hidden" name="PersonEmployeeWorkings[@Model.Index].PositionEndDate" value="@Model.PositionEndDate">
        <input type="hidden" name="PersonEmployeeWorkings[@Model.Index].TrialWorkBeginDate" value="@Model.TrialWorkBeginDate">
        <input type="hidden" name="PersonEmployeeWorkings[@Model.Index].WorkBeginDate" value="@Model.WorkBeginDate">
        <input type="hidden" name="PersonEmployeeWorkings[@Model.Index].PersonId" value="@Model.PersonId">
        <input type="hidden" class="IsDeletePEW" data-index="@Model.Index" name="PersonEmployeeWorkings[@Model.Index].IsDeleted" value="false">
        <input type="hidden" name="PersonEmployeeWorkings[@Model.Index].Id" value="@Model.Id">
    </td>
</tr>