@model AgencyPaymentViewModel

<tr class="apm-item" data-index="@Model.Index">
    <td class="text-center">@Model.StartDate?.ToString("dd/MM/yyyy")</td>
    <td class="text-center">@Model.EndDate?.ToString("dd/MM/yyyy")</td>
    <th class="text-center">
        <a data-index="@Model.Index" data-id="@Model.Id" data-agencyid="@Model.AgencyId" data-paymenttypeid="@Model.PaymentTypeId" data-currencytypeid="@Model.CurrencyTypeId" data-paymenttermtypeid="@Model.PaymentTermTypeId" data-agencydiscounttypeid="@Model.AgencyDiscountTypeId" data-paymentlimit="@Model.PaymentLimit" data-interestrate="@Model.InterestRate" data-paymentcredit="@Model.PaymentCredit" data-invoicelimit="@Model.InvoiceLimit" data-discountamount="@Model.DiscountAmount" data-note="@Model.Note" data-startdate="@Model.StartDate?.ToString("dd/MM/yyyy")" data-enddate="@Model.EndDate?.ToString("dd/MM/yyyy")" class="m-portlet__nav-link btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill btnEditAPM">
            <i class="la la-edit"></i>
        </a>
        <a data-index="@Model.Index" class="m-portlet__nav-link btn m-btn m-btn--hover-danger m-btn--icon m-btn--icon-only m-btn--pill btnDeleteAPM">
            <i class="la la-trash"></i>
        </a>
        <input type="hidden" name="AgencyPayments[@Model.Index].StartDate" value="@Model.StartDate">
        <input type="hidden" name="AgencyPayments[@Model.Index].EndDate" value="@Model.EndDate">
        <input type="hidden" name="AgencyPayments[@Model.Index].AgencyId" value="@Model.AgencyId">
        <input type="hidden" name="AgencyPayments[@Model.Index].PaymentTypeId" value="@Model.PaymentTypeId">
        <input type="hidden" name="AgencyPayments[@Model.Index].CurrencyTypeId" value="@Model.CurrencyTypeId">
        <input type="hidden" name="AgencyPayments[@Model.Index].PaymentTermTypeId" value="@Model.PaymentTermTypeId">
        <input type="hidden" name="AgencyPayments[@Model.Index].AgencyDiscountTypeId" value="@Model.AgencyDiscountTypeId">
        <input type="hidden" name="AgencyPayments[@Model.Index].PaymentLimit" value="@Model.PaymentLimit">
        <input type="hidden" name="AgencyPayments[@Model.Index].InterestRate" value="@Model.InterestRate">
        <input type="hidden" name="AgencyPayments[@Model.Index].PaymentCredit" value="@Model.PaymentCredit">
        <input type="hidden" name="AgencyPayments[@Model.Index].InvoiceLimit" value="@Model.InvoiceLimit">
        <input type="hidden" name="AgencyPayments[@Model.Index].DiscountAmount" value="@Model.DiscountAmount">
        <input type="hidden" name="AgencyPayments[@Model.Index].Note" value="@Model.Note">
        <input type="hidden" class="IsDeleteAPM" data-index="@Model.Index" name="AgencyPayments[@Model.Index].IsDeleted" value="false">
        <input type="hidden" name="AgencyPayments[@Model.Index].Id" value="@Model.Id">
    </th>
</tr>