@model List<Person>

@for (var i = 0; i < Model.Count; i++)
{
    var item = Model[i];
    <tr class="row-person-chks">
        <td class="text-center">
            <input class="m-checkbox--solid m-checkbox--brand person-chks" type="checkbox" value="@item.Id" data-name="@item.PrimaryName" />
        </td>
        <td>@item.PrimaryName</td>
        <td>@(item.PersonType == PersonType.Employee ? item.PersonEmployeeWorkings.FirstOrDefault(w => w.IsWorking && w.IsMainPosition)?.DepartmentPosition.Name : item.PersonCustomerWorkings.FirstOrDefault(w => w.IsWorking && w.IsMainPosition)?.Position)</td>
        <td class="text-center">@Html.Raw(string.Join("<br />", item.ContactInfo.Phones.Select(p => p.PhoneNumber)))</td>
        <td class="text-center">@Html.Raw(string.Join("<br />", item.ContactInfo.Emails.Select(p => p.Email)))</td>
    </tr>
}