@model IEnumerable<Person>

@{
    ViewData["Title"] = "Danh sách khách hàng";
    PersonType personType = ViewBag.PersonType;
    var strPersonType = personType == PersonType.Customer ? "khách hàng" : personType == PersonType.Employee ? "nhân viên" : "người đại diện";
}

<div class="m-grid__item m-grid__item--fluid m-wrapper">
    <div class="m-content">
        <div class="m-portlet m-portlet--mobile">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <h3 class="m-portlet__head-text">
                            Danh sách @strPersonType
                        </h3>
                    </div>
                </div>
                <div class="m-portlet__head-tools">
                    <ul class="m-portlet__nav">
                        <li class="m-portlet__nav-item">
                            <a asp-action="Create" asp-route-type="@personType" class="btn btn-accent m-btn m-btn--custom m-btn--pill m-btn--icon m-btn--air">
                                <span>
                                    <i class="la la-plus"></i>
                                    <span>
                                        Thêm @strPersonType
                                    </span>
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="m-portlet__body">
                <!--begin: Datatable -->
                <table class="table table-striped- table-bordered table-hover table-checkable" id="m_table_1">
                    <thead>
                        <tr class="text-center">
                            <th>Mã</th>
                            <th>Tên</th>
                            <th>Điện thoại</th>
                            @if (personType == PersonType.Customer)
                            {
                                <th>Loại khách hàng</th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    <a asp-action="Edit" asp-route-id="@item.Id" asp-route-type="@item.PersonType" class="m-portlet__nav-link" title="Edit">
                                        @Html.DisplayFor(modelItem => item.Code)
                                    </a>
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PrimaryName)
                                </td>
                                <td class="text-center">@Html.Raw(string.Join("<br />", item.ContactInfo.Phones.Where(p => p.IsPrimary).Select(p => p.PhoneNumber)))</td>
                                @if (personType == PersonType.Customer)
                                {
                                    var cntOrders = item.Orders.Where(o => !o.IsDeleted).Count();
                                    <td class="text-center">@(cntOrders == 0 ? "Tiềm năng" : cntOrders == 1 ? "Mới" : "Cũ")</td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        $(document).ready(function () {
            if (@((int)personType) == 0)
                SetActiveMenu('employeeMenu');
            else if (@((int)personType) == 1)
                SetActiveMenu('customerMenu');
            else if (@((int)personType) == 2)
                SetActiveMenu('resprentativeMenu');

            $("#m_table_1").DataTable({
                "aaSorting": [],
                "language": {
                    "emptyTable": "Không có dữ liệu",
                    "info": "Hiện _START_ đến _END_ trên _TOTAL_ dòng",
                    "infoEmpty": "Không có dữ liệu",
                    "lengthMenu": "Hiện _MENU_ dòng",
                    "loadingRecords": "Đang tải...",
                    "processing": "Đang xử lý...",
                    "search": "Tìm kiếm:",
                    "zeroRecords": "Không tìm thấy dữ liệu phù hợp",
                },
            });
        });
    </script>
}