@model IEnumerable<CommissionFormula>

@{
    ViewData["Title"] = "Theo dõi công thức tính hoa hồng";
    DateTime? startDate = ViewBag.StartDate;
    DateTime? endDate = ViewBag.EndDate;
    var strRange = startDate.HasValue && endDate.HasValue ? $"{startDate?.ToString("dd/MM/yyyy")} - {endDate?.ToString("dd/MM/yyyy")}" : "";
}

<div class="m-grid__item m-grid__item--fluid m-wrapper">
    <div class="m-content">
        <div class="m-portlet m-portlet--mobile">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <h3 class="m-portlet__head-text">
                            Theo dõi công thức tính hoa hồng
                        </h3>
                    </div>
                </div>
                <div class="m-portlet__head-tools">
                    <ul class="m-portlet__nav">
                        <li class="m-portlet__nav-item">
                            <div class="input-group pull-right" id="daterangepicker">
                                <input type="text" class="form-control m-input report-range-picker" readonly="" value="@strRange">
                                <div class="input-group-append">
                                    <span class="input-group-text">
                                        <i class="la la-calendar-check-o"></i>
                                    </span>
                                </div>
                            </div>
                        </li>
                        <li class="m-portlet__nav-item">
                            <form asp-action="Index">
                                <input name="StartDate" id="searchStartDate" type="hidden" value="@startDate?.ToShortDateString()" />
                                <input name="EndDate" id="searchEndDate" type="hidden" value="@endDate?.ToShortDateString()" />
                                <button type="submit" class="btn btn-accent m-btn m-btn--custom m-btn--pill m-btn--icon m-btn--air" id="searchFormula">
                                    <span>
                                        <i class="la la-search"></i>
                                        <span>Tìm kiếm</span>
                                    </span>
                                </button>
                            </form>
                        </li>
                        <li class="m-portlet__nav-item">
                            <a asp-action="Create" class="btn btn-accent m-btn m-btn--custom m-btn--pill m-btn--icon m-btn--air">
                                <span>
                                    <i class="la la-plus"></i>
                                    <span>
                                        Thêm công thức
                                    </span>
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="m-portlet__body">
                <!--begin: Datatable -->
                <table class="table table-striped- table-bordered table-hover table-checkable" id="m_table_1">
                    <thead>
                        <tr class="text-center">
                            <th>Ngày bắt đầu áp dụng</th>
                            <th>Ngày kết thúc áp dụng</th>
                            <th>Thưởng/Khách mới</th>
                            <th>Thưởng/Khách cũ</th>
                            <th>Thưởng/Khu vực kinh doanh</th>
                            <th>Thưởng chung hệ thống</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td class="text-center">@item.StartDate?.ToString("dd/MM/yyyy")</td>
                                <td class="text-center">@item.EndDate?.ToString("dd/MM/yyyy")</td>
                                <td>@item.NewCusCommissionValue.ToString(item.NewCusCommissionType == CommissionType.Money ? "#,##0" : "") (@item.NewCusCommissionType.GetDisplayName())</td>
                                <td>@item.OldCusCommissionValue.ToString(item.OldCusCommissionType == CommissionType.Money ? "#,##0" : "") (@item.OldCusCommissionType.GetDisplayName())</td>
                                <td>@item.AreaCommissionValue.ToString(item.AreaCommissionType == CommissionType.Money ? "#,##0" : "") (@item.AreaCommissionType.GetDisplayName())</td>
                                <td>@item.AllCommissionValue.ToString(item.AllCommissionType == CommissionType.Money ? "#,##0" : "") (@item.AllCommissionType.GetDisplayName())</td>
                                <td>
                                    <a asp-action="Edit" asp-route-id="@item.Id" class="m-portlet__nav-link btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill" title="Edit">
                                        <i class="la la-edit"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        $(document).ready(function () {
            SetActiveMenu('commissionFormulaMenu');

            $("#daterangepicker").daterangepicker({
                buttonClasses: "m-btn btn",
                applyClass: "btn-primary",
                cancelClass: "btn-secondary",
                timePicker: 0,
            });

            $("#m_table_1").DataTable({
                "aaSorting": [],
                "language": {
                    "emptyTable": "Không có dữ liệu",
                    "info": "Hiện _START_ đến _END_ trên _TOTAL_ dòng",
                    "infoEmpty": "Không có dữ liệu",
                    "lengthMenu": "Hiện _MENU_ dòng",
                    "loadingRecords": "Đang tải...",
                    "processing": "Đang xử lý...",
                    "search": "Tìm kiếm:",
                    "zeroRecords": "Không tìm thấy dữ liệu phù hợp",
                },
            });

            $('#daterangepicker').on('apply.daterangepicker', function (ev, picker) {
                updateRangePicker(picker.startDate, picker.endDate);
            });
        });

        let updateRangePicker = function (startDate, endDate) {
            $('#searchStartDate').val(moment(startDate).format("YYYY-MM-DD"));
            $('#searchEndDate').val(moment(endDate).format("YYYY-MM-DD"));

            $("#daterangepicker .form-control").val(moment(startDate).format("DD/MM/YYYY") + " - " + moment(endDate).format("DD/MM/YYYY"));
            $("#daterangepicker").data('daterangepicker').setStartDate(moment(startDate, "YYYY-MM-DD"));
            $("#daterangepicker").data('daterangepicker').setEndDate(moment(endDate, "YYYY-MM-DD"));
            $("#daterangepicker").data('daterangepicker').updateView();
            $("#daterangepicker").data('daterangepicker').updateCalendars();
        }
    </script>
}